*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#navbar{
    width: 98%;
    height: auto;
    margin: auto;
    border: 1px solid red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}
#wallet{
    text-align: center;
    flex-direction: row-reverse;
    margin: 2%;
    display: flex;
}

#add-money{
    width: 60%;
    height: auto;
    border: 1px solid yellow;
    margin: auto;
    /* display: flex; */
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#add-money>input{
    width: 70%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}

#add-money>button:nth-child(2){
    width: 20%;
    height: 50px;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 2%;
    
}
#add-money>button:nth-child(2):hover{
    background-color: blueviolet;
    cursor: pointer;
}
#add-money>button:nth-child(3){
    width: 20%;
    height: 50px;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: 2%;
    display: flex;
}

#add-money>button:nth-child(3):hover{
    background-color: rgb(201, 229, 74);
    cursor: pointer;
}